// Source - https://stackoverflow.com/a/62342961
// Posted by Hamid Shoja
// Retrieved 2026-07-15, License - CC BY-SA 4.0

/Old Photo Frame 5
Concept.txt
**/__pycache__
*.pyc
node_modules
dist
dist-ssr
*.local


# Config
config.ini


# Database
/backend/media_index.db
/backend/media_index.db-wal
/backend/media_index.db-shm

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Distribution directories
dist/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?